
<div class="item-container flex-between">
  <label class="checkbox-label" for="<%= name.username %>"><%= name.username %></label>
  <div class="checkbox-container">
    <input class="checkbox" type="checkbox" name="<%= name.username %>">
    <label for="checkboxInput"></label>
  </div>
</div>