<header>
  <ul class="nav flex-between">
    <li class="nav-item">
      <a class="nav-link active nav-icons" href="/users/profile"><i class="fas fa-user-circle"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link active nav-icons" href="/logout"><i class="fas fa-sign-out-alt"></i>logout</a>
    </li>
  </ul>
</header>