

<%- include ./partials/navbar %>
<%- include ./partials/notifications %>

<div id="bill-button-container" class="container-fluid"">
  <a id="bill-button" class="btn btn-default btn-circle btn-xl col align-self-center bounce-7" href="/bills/name"><span>+</span></a>
</div>

<div id="active-bills-button-container" class="container-fluid">
  <a id="active-bills-button" class="list-group-item list-group-item-action flex-column" href="/bills/list">
  <div>
  <span class="no-bills">Start paying motherfucker!</span>
  </div>
  </a>
</div>

