

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hidden{
  display: none;
}

.item-row{
  display: flex;
  flex-direction: row;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-around {
  display: flex;
  justify-content: space-around;
}

.flex-column{
  display:flex;
  flex-direction: column;
}

.nav-icons{
  font-size: 1.5rem;
}

.title{
  text-align: center;
}

.participant-container{
  margin-top: 0.5rem;
}

.list-group{
  margin: 1rem;
}

.extra-margin{
  margin: 0.5rem 0;
}

.bill-name{
  font-weight: bold;
}

.totals{
  width: 40%;
  padding: 1rem;
  text-align: center;
  background-color: rgba(200, 200, 200, 0.2);
}

.centered{
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.go-back{
  font-size: 3rem;
}