

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hidden{
  display: none;
}

.item-row{
  display: flex;
  flex-direction: row;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.nav-icons{
  font-size: 1.5rem;
}

.title{
  margin: 1rem;
}

.list-group{
  margin: 1rem;
}

.list-group-item{
  margin: 0.5rem 0;
}

.bill-name{
  font-weight: bold;
}

.centered{
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.go-back{
  font-size: 3rem;
}