<%- include ../partials/navbar %>
<%- include ../partials/notifications %>

<div class="container">
  <form class="flex-column" action="/bills/name" method="post">

    <input class="text-input" type="text" name="name" Placeholder="Give your bill a name" maxlength="10" required>
    <button class="arrow-right" type="submit"><i class="fas fa-arrow-right"></i></button>

  </form>
</div>

