<%- include ../partials/navbar %>
<%- include('../partials/notifications') %>

<form action="/bills/name" method="post">

  <input type="text" name="name" Placeholder="Bill name" required>
  <button type="submit"><i class="fas fa-arrow-right"></i></button>

</form>