<h1>Bill details</h1>
<ul>  
  <h1><%= bill.name %></h1>
  <% bill.items.forEach((item) => { %>
    <li>
      <%= item.name %>
      <%= item.price %>
      <%= item.username%>
    </li>
  <% }); %>
</ul>