<h1>Edit bill</h1>

<form action="/bills" method="post">
  <input type="hidden" id="billInformation" name="billInformation" value="">
  <div>
    <% names.forEach((name, index) => {%>
      <h3><%= name %></h3>
      <%- include ../partials/itemAdder%>
      <input type="button" class="item-adder" id="<%= name %>" value="+">
    <%})%>
  </div>  
  <button type="submit">Send the form</button>
</form>