<%- include ../partials/navbar %>
<%- include ../partials/notifications %>

<div class="container">
  <form action="/bills" method="post">
    <div class="items-list-container" id="items-list-container">
      <div class="item-container">
        <input class="item-input item" type="text" name="name" Placeholder="Item" required> 
        <input class="item-input" type="number" step="0.01" name="price" Placeholder="€" required>
      </div>
    </div>
    
    <div class="flex-column">
    <input id="item-adder" type="button" value="+">
    <button class="arrow-right" type="submit" id="create-button"><i class="fas fa-arrow-right"></i></button>
    </div>
    
    <input id="lat" type="hidden" name="lat" value="">
    <input id="long" type="hidden" name="long" value="">
  </form>
</div>

<script src="/javascript/itemAdder.js"></script>
<script src="/javascript/geolocation.js"></script>

