<%- include ../partials/navbar %>

<form action="/bills" method="post">
<div class="items-list-container" id="items-list-container">
  <div class="item-container">
  <input type="text" name="name" Placeholder="Item"> 
  <input type="number" step="0.01" name="price" Placeholder="€">
  </div>
</div>


<input id="item-adder" type="button" value="+">
  <button type="submit" id="create-button">Create bill</button>
</form>
