<h1>New bill</h1>

<form action="/bills" method="post">
  
  <input type="text" name="name" Placeholder="Item"> 
  <input type="number" name="price" Placeholder="€">
  <input type="text" name="name" Placeholder="Item">
  <input type="number" name="price" Placeholder="€">
  <input type="text" name="name" Placeholder="Item">
  <input type="number" name="price" Placeholder="€">
  <input type="text" name="name" Placeholder="Item">
  <input type="number" name="price" Placeholder="€">

  <button type="submit" id="create-button">Create bill</button>
</form>
