<%- include ../partials/navbar %>

<div class="container">
  <h3>My active bills</h3>

  <div class="list-group">
    <% bills.forEach((bill) => { %>
      <% if (bill.active) {%>
        <a href="/bills/<%= bill._id %>" class="list-group-item list-group-item-action extra-margin">
          <div class="flex-between">
            <span class="bill-name" value="<%= bill.items %>"><%= bill.name %></span>
            <span class="debt"><span id="user-total">10</span> €</span>
          </div>
        </a>
      <% } %>
    <% }) %>
  </div>
</div>

<a href="/" class="centered go-back"><i class="fas fa-angle-double-left"></i></a>


<script src="/javascript/listDebt.js"></script>