<h1>Bills list</h1>

<% bills.forEach((bill) => { %>
  <div>
  <p><%= bill.name %></p>
  <p><%= bill.participants[0] %></p>
  <p><%= bill.items[0].name %></p>
  <a href="/bills/<%= bill._id %>">Details</a>
  </div>
<% }) %>

<a href="/">Go back</a>