<h1>New bill</h1>

<form action="/bills" method="post">
  <% friendsNames.forEach((friend) => { %>
    <p><%= friend.username %></p>
  <% }) %>
  <button type="submit" id="create-button">Create bill</button>
</form>
<button id="itemAdder-button">+</button>
