<h1>Bill participants</h1>

<form action="/bills/participants" method="post">
  <div>
    <% friendsNames.forEach((name, index) => {%>
      <%- include ../partials/friends%>
    <%})%>
  </div>  
  <button type="submit">Send the form</button>
</form>