<%- include ../partials/navbar %>
<%- include ../partials/notifications %>

<div class="container">
  <form class="participants-form flex-column" action="/bills/participants" method="post">
    <div>
      <% friendsNames.forEach((name, index) => {%>
        <%- include ../partials/friends%>
      <%})%>
    </div>  
    <button class="arrow-right" type="submit"><i class="fas fa-arrow-right"></i></button>
  </form>
</div>
